<p id="notice"><%= notice %></p>

<h1>Your Requests</h1>

<table>
  <thead>
    <tr>
      <th>To</th>
      <th>Message</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.user.display_name %></td>
        <td><%= request.message %></td>
        <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
