<p id="notice"><%= notice %></p>

<h1>Your Requests</h1>

<table class="table">
  <thead>
    <tr>
      <th>To</th>
      <th>Message</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.user.display_name %></td>
        <td><%= request.message %></td>
        <td><%= button_to 'Delete', request, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
