<h2 id="home_title">Learn a new skill</h2>
<p id="home_head">
  Take time to find a new skill to learn.
</p>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img class="d-block img-fluid" src="/guitar.jpg" alt="Teach Guitar">
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="/karate.jpg" alt="Learn Something New">
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="/role_model.jpg" alt="Be a Role Model">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<h3>Latest Lessons</h3>
<table class='table'>
  <tbody>
    <%- @posts.each do |post| %>
      <tr>
        <th scope='row'><%= post.title %></th>
        <td><%= post.description%></td>
        <td><%= number_to_currency(post.price) %></td>
        <td><%= post.availability%></td>
      </tr>
    <%- end %>
  </tbody>
</table>
