<h2>Learn a new skill</h2>
<p>
  Take time to find a new skill to learn.
</p>

<h3>Latest Lessons</h3>
<table class='table'>
  <tbody>
    <%- @posts.each do |post| %>
      <tr>
        <th scope='row'><%= post.title %></th>
        <td><%= post.description%></td>
        <td><%= number_to_currency(post.price) %></td>
        <td><%= post.availability%></td>
      </tr>
    <%- end %>
  </tbody>
</table>